.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.submain{
    display: flex;
    width: 99%;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    
}

.containerPic{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2rem 0 4rem 0;
}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 2rem 0 5rem;
}

.p{
   
    width: 60%;
    margin:  0 1rem 0 1rem;
}

.mainTitle{
    font-size: 2rem;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 3rem 0;
    border-bottom: 1px solid;  
}

.containerSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.containerSkills:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 800px) {
    .profile{
        width: 100px;
        height: 100px;
        margin: 0 1rem 0 1rem;
    }


    .containerPic{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }
    .p{
        width: 80%;
    }
}

