.main{
    width: 100%;
    display: flex;
    padding: 0 0 2rem 0;
    z-index: 99;
    position: relative;
}

.subMain{
    width: 80%;
    display: flex;
    flex-direction: column;
   /* border: #00adb5 solid 1px; */
}

.profile{
    width: 20%;
    height: 35%;
    position: absolute;
    left: 60%;
    border-radius: 10px;
    transform: rotate(-45deg);
    border-bottom: #00adb5 2px solid;
    border-left: #00adb5 2px solid;
    padding: 5px;
    margin: 19.5rem 0 0 0;
}




.title{
    color:#3a424d;
    font-size: 180px;
    margin: 0 0 0 4rem;
}





.subtitle{
    color: #fff;
    font-size: 50px;
    margin: 0 0 0 4rem;
  
}

.containerName{
   
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 0 4rem;
    height: 50px;
    
}

.containerModel{
position: absolute;
bottom: 2rem;
right: 20%;
height: 80%;
}

.size{
    height: 100px;
    height: 100px;
}

.name{
    margin: 0 ;
    font-size: 50px;
  
    border-bottom: #00adb5 solid 2px;
}

.spanline{
    margin: 5px 0 0 4rem;
    width: 100%;

    color: #fff;
    height: 2px;
    background-color: #00adb5 ;
    border-radius: 100px;
}

.lastname{
    color: #00adb5;
    font-size: 50px;
    margin: 0;
    border-bottom: #00adb5 solid 2px;
}

.role{
    color: #fff;
    margin: 1rem 0 0 4rem;
    
    
}

.model{
    background-color: #282828;

}

@media screen and (max-width: 1000px) {
    .containerModel{
        position: absolute;
        bottom: 5rem;
        right: 15%;
        }
    }        

@media screen and (max-width: 800px) {
    .title{
        font-size: 100px;
    }
    
    .containerName{
       height: 10px;
    }

    .containerModel{
        right: 10%;
        bottom: 5%;
    }

    .subtitle{
        font-size: 30px;
        margin-top: 2.5rem;
    }

    .name{
        font-size: 20px;
    }

    .lastname{
        font-size: 20px;
    }

    .role{
        margin: 0.8em 0 0 4rem;
       
    }

}

@media screen and (max-width: 450px) {
    .title{
        font-size: 70px;
    }
}



.containerFollow{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow{
    color: #00adb5;
    writing-mode: vertical-rl;
    margin: 1rem 0 0 0;
}

.line{
    border: #fff solid 1px;
    display: flex;
    writing-mode: vertical-rl;
    color: #00adb5;
    margin: .5rem 0 0 0;
    height: 100px;
    border: #00adb5 2px solid;
    border-radius: 4px;
}

.instaBox{
    margin: 10px 0 0 0;
    background-color: #3a424d;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram{
    color: #fff;
}


.containerModel{
    width:10%;
    margin: 0 6rem  0 0;
}