@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  margin: 0;
  padding: 0;
}

.App-Dark{
  background-color: #282828;
  color: #fff;
}

.App-Light{
  background-color: #fff;
  color: #282828;
}

*{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.arrow{
  position: fixed;
  right: 2rem;
  z-index: 1000;
  bottom: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

